<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/index.css}" rel="stylesheet" />
</head>

<body>
<div class="container">
    <h1 class="font-weight-bold text-center">Product List</h1>
    <a class="btn btn-success" th:href="@{/edit}" role="button">Create new product</a>
    <table class="table table-hover product-list">
      <thead class="thead-dark">
          <tr>
              <th>Product Id</th>
              <th>Name</th>
              <th>Brand</th>
              <th>Made In</th>
              <th>Price</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr th:each="product : ${listProducts}">
              <td th:text="${product.id}">Product ID</td>
              <td th:text="${product.name}">Name</td>
              <td th:text="${product.brand}">Brand</td>
              <td th:text="${product.madein}">Made in</td>
              <td th:text="${product.price}">Price</td>
              <td>
                  <a class="btn btn-info" th:href="@{'/edit?id=' + ${product.id}}" role="button">Edit</a>
                  <a class="btn btn-danger"
                     role="button"
                     th:onclick="showAlert('You are deleting a product')"
                     th:href="@{'/delete/' + ${product.id}}"
                  >Delete</a>
              </td>
          </tr>
      </tbody>
    </table>
</div>
<script type="text/javascript" th:src="@{/js/action.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.14/dist/js/bootstrap-select.js}"></script>
</body>

</html>